.table tfoot th,
.table thead th {
    font-weight: 500 !important;
    color: #fff !important;
}
.table thead {
    background-color: #2f5ea5 !important;
}

#table_data_processing {
    background: transparent !important;
}

table.dataTable {
    width: 100% !important;
    overflow: hidden !important;
}

#loading-screen {
    /* position: fixed;
    height: 100%; */
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(105, 105, 105, 0.6);
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}

/* Spinner */
.spinner {
    width: 50px;
    height: 50px;
    /* border: 5px solid rgba(0, 0, 0, 0.1); */
    border: 5px solid #ccc;
    border-top-color: #2f5ea5;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animasi Spinner */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-overlay.active {
    background-color: #ececec;
    opacity: 1;
    visibility: visible;
    transition: none;
}

.loading-overlay:not(.active) {
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ebedf5 !important;
}

.site-menubar {
    background-color: #2f5ea5 !important;
}
.site-menu .site-menu-sub .site-menu-item {
    background-color: #2f5ea5 !important;
}
.site-menubar-unfold .site-menu-category {
    color: #fff !important;
}
.site-navbar .navbar-container {
    background-color: #2f5ea5 !important;
    padding-left: 0 !important;
}
.navbar-default .hamburger .hamburger-bar,
.navbar-default .hamburger:after,
.navbar-default .hamburger:before {
    color: #fff !important;
}
.navbar-default .hamburger:before,
.navbar-default .hamburger .hamburger-bar,
.navbar-default .hamburger:after {
    background: #fff !important;
}

.site-menu .site-menu-sub {
    padding: 0 !important;
}
.site-menu-item:hover {
    background: rgba(33, 33, 33, 0.2) !important;
}
.site-menu > .site-menu-item.open {
    background: rgba(33, 33, 33, 0.2) !important;
}
.site-menu-item a {
    color: #fff !important;
}
.nav-link:focus,
.nav-link:hover {
    color: #ff9800 !important;
    background: none !important;
}

.page {
    background: #ebedf5 !important;
}

.panel {
    background: #ffffff !important;
}
li.nav-item.dropdown {
    border-left: 3px solid #fff;
    line-height: 30px !important;
}
.navbar-default .navbar-toolbar .nav-link {
    color: #fff !important;
    font-weight: 500 !important;
}

.navbar-default .navbar-toolbar .nav-link:hover {
    background: rgba(33, 33, 33, 0.2) !important;
}

tr.even {
    background: #eee !important;
}

th,
td {
    white-space: nowrap;
}
div.dataTables_wrapper {
    margin: 0 auto;
}

div.container {
    width: 80%;
}

.modal-header{
    border-radius:.286rem .286rem 0 0;
    background-color:#ffffff;
    border-bottom: 2px solid #172f52;
}

.form-group{
    margin-bottom: 1.129rem !important;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #e0e0e0;
}
.form-group .form-control-label{
    padding-top: 5px !important;
    font-weight: 400; 
}

.spacer-10{
    height: 10px;
}

/* Important part */
.modal-dialog.modal-scrollable{
    overflow-y: initial !important
}
.modal-dialog.modal-scrollable .modal-body{
    height: 80vh;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .modal-lg {
        max-width: 80%;
    }
}

.form-control{
    padding: .3rem .5rem;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder{
    font-weight: 500;
}

.number-input{
    text-align: right !important;
}

.select2-container--default .select2-results > .select2-results__options{
    font-weight: 500;
}

.sub-title-form{
    border-bottom:1.5px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

input.disabled-input{
    background:transparent !important;
    border:none !important;
    font-weight:700;
}